<div class= "margin">
</div>
    <P>フォロー</P>
    <% @user.followings.each do |u| %>
        <%= image_tag u.image_url, size: "50x50" if u.image? %>
        <li><%= u.name %></li>
    <% end %>
<div class= "margin2">
</div>