
<div class= "margin">
</div>
<div class="users-container container">
  <div class="user5 clip-box-a">
    <h1>Users</h1>
    <% provide(:title, 'All users') %>
    <%#検索%>
    <form action="/users" accept-charset="UTF-8" method="get" >
      <input type="text" name="search" id="search" placeholder="User検索（User名を入力）" class="fa fa-edit fa-lg fa-fw">
      <button name ="button" type="submit" class="btn btn default" >
        <i class="fas fa-search fa-2x"></i>
      </button>
    </form>
  </div>
  <% @users.each do |user| %>
    <div class="users row ">
        <div class="col-xs-2 user-left">
          <p><%= image_tag user.image_url, size: "150x150", class:"rounded-circle" if user.image? %>
        </div>
            <%#= link_to "フォロー", followings_path(user.id) %>
            <%#= link_to "フォロワー", followers_path(user.id) %>
        <div class="col-xs-10 user-right">
          <h3><%= link_to user.name, user %>
            &emsp;
            <% if current_user.following?(user) && user.following?(current_user) %>
              <small>[相互followしています]</small>
            <% else %>
              <% if user.following?(current_user) %>
                <small>[followされています]</small>
              <%else%>
                <% if current_user.following?(user) %>
                  <small>[followしています]</small>
                <% end %>
              <% end %>
          <% end %>
          <%= render partial: "relationships/follow", locals: { user: user }%>
          </h3>
        </div>
      </div>
  <% end %>
</div>
<div class= "margin2">
</div>
