/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* *, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 65vh;
}
.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}
/* menu */
/* .cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #a4d0e6;
	opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
/* .cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}
/* contents */
/* .cp_contents {
	color: #333333;
	text-align: center;
/* } */


 * {
    padding: 0; 
    margin: 0;
  }
  a{
    text-align: none;
    color:black;
  }

  /* 初期スタイルの余白の設定をリセット。外側余白（margin）と内側余白（padding）余白を消 */
  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      /* フォントの変更 */

    /* background-color: #f1f09a; */
    /* background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
    animation: huerotator 3s infinite alternate; */

    /* background: linear-gradient(90deg,#f0f2f5, #d9dcdf ) */
    /* グラデーション背景 */
  }

  header {
    /* background-color: #2400ee; */
    background: linear-gradient(#6887ee, #3771e6 );
    // background: linear-gradient(#000207, #020a1a );
    position: fixed; 
    width: 100%;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    /* align-items: center; */
    z-index:9999;
  }
  /* １色２位置３幅４高さ５フォントの太さ６flexboxつかう７先頭と後尾は端、残りは等間隔 */
  header a {
    color: white; 
    text-decoration: none; 
  }
  /* １色２テキスト装飾を無くす */
  header h1 {
    color: white;
    margin-left: 60px;
    margin-right: 500px;
    align-items: center;
  }
  /* １色２外の左余白 */
  .header-list {
    display: flex;
    align-items: center;
  }
  /* １flexbox２高さ的に中央 */
  header ul {
    display: flex;
    align-items: center;
  }
  /* 順序ないリスト */
  header li {
    list-style: none;
    margin-right: 40px;
  }
  /* 順序あるリスト１マーカーの未使用２外の右余白 */
  footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    z-index:9999;
  }
/* １色２高さ３背景色４位置が下から０*/
/* ５幅６flexboxを使用７高さ的に中央８位置絶対９アイテムを後尾に */

